/**{*/
/*    !*border: 1px red solid;*!*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
#login {
    border: 1px solid blue;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-top: 15%;
    background: #00000080;
    padding: 20px 50px;
}
h1{
    color: white;
}
.f .i input {
    width: 200px;
    border: 0;
    border-bottom: 5px solid white;
    font-size: 18px;
    background: #ffffff00;
    color: white;
    padding: 5px 10px;
}

#login button {

    border: 0;
    width: 150px;
    height: 30px;
    margin-top: 18px;
    font-size: 18px;
    color: white;
    border-radius: 25px;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
}
body {
    /*background: url("../imgs/5.jpg") center;*/
    background-size: 100% auto;
    background-repeat: no-repeat;
}
