<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>

    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body >


<div id="login">
    <h1>欢迎登录心理咨询与诊断平台</h1>

    <div class="f">
        <div class="i">

            <input type="text" placeholder="请输入账号" >
        </div>

        <div class="i">

            <input type="password" placeholder="请输入密码" >
        </div>
        <div class="i">

            <input type="text" name="vCode" id="vCode" placeholder="请输入验证码" class="area">
        </div>

    </div>
    <a>
        <button type="submit">登录</button>
    </a>
    <a href="reg.html">
        <button type="submit">注册</button>
    </a>
</div>
















</div>

</body>
</html>